
/*seg_desktop_include.css*/

/*s-fonts.css*/
@font-face {
	font-family: 'voresfont';
	src: url('/css/fonts/voresfont.eot');
	src: url('/css/fonts/voresfont.eot?#iefix') format('embedded-opentype'),
		 url('/css/fonts/voresfont.woff2') format('woff2'),
		 url('/css/fonts/voresfont.woff') format('woff'),
		 url('/css/fonts/voresfont.svg#alte_din_1451_mittelschriftRg') format('svg'),
		 url('/css/fonts/voresfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

/*s-page.css*/
html {
	min-height: 100%;
}
body {
	background: #ffffff;
	margin: 0;
}
* {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
#page {}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: 400;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 20px; color: #333333; outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
sup {line-height: 1em; font-family: inherit; color: inherit;}


/*s-header.css*/
#header {
    position: relative;
    width: 936px;
    margin: 0 auto;
	padding: 16px 0 10px;
}
#header .logo {
	box-sizing: border-box; 
	height: 48px;
	padding: 6px 8px 6px 54px;
	display: inline-block;
	background: transparent url(/img/logo-stempel_sort_lille_gulerod.png) no-repeat top left;
	font-family: 'voresfont';
	font-size: 28px;
	line-height: 32px;
    max-width: 50%;
	text-transform: uppercase;
}
#header .highlight {
	color: #3e8e17;
}
#header ul.servicenavigation {
	position: absolute;
	line-height: 14px;
	top: 14px;
	right: 0px;
	max-width: 50%;
}
#header ul.servicenavigation li {
	display: inline-block;
	padding-left: 16px;
	line-height: 14px;
}
#header ul.servicenavigation li.navigation {
	display: none;
}
#header ul.servicenavigation a {
	color: #666;
}
#header ul.servicenavigation a:hover {
	color: #3e8e17;
	text-decoration: underline;
}


/*s-navigation.css*/
#navigation {
    position: relative;
    width: 936px;
    margin: 0 auto;
}
#navigation ul.navigation {
	font-size: 0;
	padding-bottom: 5px;
}
#navigation ul.navigation li {
	display: inline-block;
	margin-right: 5px;
}
#navigation ul.navigation a {
	font-family: 'voresfont';
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	padding: 7px 14px;
	display: block;
	color: #ffffff;
	background-color: #000000;
}
#navigation ul.navigation a:hover {
	background-color: #3e8e17;
}

/*s-footer.css*/
#footer {
	height: 48px;
	background: #484848;
}
#footer ul.servicenavigation {
	margin: 0 auto;
	position: relative;
    width: 936px;
	text-align: right;
}
#footer ul.servicenavigation li {
	display: inline-block;
	padding: 17px 0 10px 15px;
	color: #ffffff;
}
#footer ul.servicenavigation li.copyright {
	float: left;
	padding-left: 0;
}


/*s-content.css*/
#content {
	margin: 0 auto;
	position: relative;
	width: 960px;
}
#content p,
#content ul,
#content ol,
#content pre,
#content table,
#content blockquote {
	padding-bottom: 24px;
}
#content h1 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 48px;
	box-shadow: 0px -5px black inset;
	padding-bottom: 2px;
	padding-top: 13px; 
}
#content h2 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 30px;
	padding-bottom: 22px;	
	padding-top: 20px;
}
#content h3 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
}
#content h4 {
	font-size: 14px;
	line-height: 24px;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#content h5 {
}
#content h6 {
}
#content p {
	line-height: 24px;
}
#content h1 + p {
	padding-top: 18px;
}
#content h4 + ul, 
#content h4 + ol {
	padding-top: 18px;
}
#content a {
	text-decoration: none;
	color: #3e8e17;
	font-weight: bold;
}
#content a:hover {
	color: black;
}
#content .highlight {
	color: #3e8e17;
}
#content .system-warning {
	color: #C22414;
}
#content blockquote {
	font-style: italic;
	margin: 0px;
}
#content img {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 12px;
}
#content ol {
	list-style-type: decimal;
	margin-left: 16px;
}
#content ul {
	list-style: disc;
	margin-left: 15px;
}
#content li {
	line-height: 24px;
	padding-left: 8px;
}
#content ul.richtext {
	list-style: none;
	margin-left: 0;
}
#content ul.richtext > li {
	padding-left: 0;
}
#content li + li {
	padding-top: 12px;
}
#content dt {
	font-size: 14px;
	line-height: 24px;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#content dd {
	padding-bottom: 12px;
}
#content dl {
	padding-bottom: 12px;
}
#content code {
	display: block;
	padding: 24px;
	margin-bottom: 24px;
	white-space: pre-wrap;
	font-family: monospace;
	background-color: #DDDDDD;
}
#content span.path {
	font-family: monospace;
	background-color: #DDDDDD;
	padding: 0 6px;
}
#content span.green {
	color: #3e8e17;
	font-weight: 700;
}
#content div.c-wrapper {
	display: block;
	font-size: 0;
	width: 100%;
}
#content div.c-one-quarter,
#content div.c-one-third,
#content div.c-one-half,
#content div.c-two-thirds,
#content div.c-three-quarters {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}
#content div.c-three-quarters {
	width: 75%;
}
#content div.c-two-thirds {
	width: 66.6666%;
}
#content div.c-one-half {
	width: 50%;
}
#content div.c-one-third {
	width: 33.3333%;
}
#content div.c-one-quarter {
	width: 25%;
}
#content div.c-box,
#content div.c-primary-box {
	box-sizing: border-box;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 24px;
}
#content div.c-box > :first-child,
#content div.c-primary-box > :first-child {
	padding-top: 12px;
}
#content div.c-box > :last-child,
#content div.c-primary-box > :last-child {
	padding-bottom: 12px;
}
#content div.c-box {
	background: #f2f2f2;
}
#content div.c-primary-box {
	background: #3e8e17;
}
#content div.c-primary-box h1,
#content div.c-primary-box h2,
#content div.c-primary-box h3,
#content div.c-primary-box h4,
#content div.c-primary-box p,
#content div.c-primary-box ol,
#content div.c-primary-box ul,
#content div.c-primary-box dl {
	color: white;
}
#content div.c-box.c-one-quarter,
#content div.c-primary-box.c-one-quarter {
	width: calc(25% - 24px);
}
#content div.c-box.c-one-third,
#content div.c-primary-box.c-one-third {
	width: calc(33.3333% - 24px);
}
#content div.c-box.c-one-half,
#content div.c-primary-box.c-one-half {
	width: calc(50% - 24px);
}
#content div.c-box.c-two-thirds,
#content div.c-primary-box.c-two-thirds {
	width: calc(66.6666% - 24px);
}
#content div.c-box.c-four-quarters,
#content div.c-primary-box.c-four-quarters {
	width: calc(75% - 24px);
}
#content div.c-two-thirds > div.c-one-third {
	width: 50%;
}
#content div.c-one-half > div.c-one-quarter {
	width: 50%;
}
#content div.c-three-quarters > div.c-one-quarter {
	width: 33.3333%;
}
#content div.c-three-quarters > div.c-one-half {
	width: 66.6666%;
}
#content div.c-two-thirds > div.c-box.c-one-third,
#content div.c-two-thirds > div.c-primary-box.c-one-third {
	width: calc(50% - 24px);
}
#content div.c-one-half > div.c-box.c-one-quarter,
#content div.c-one-half > div.c-primary-box.c-one-quarter {
	width: calc(50% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-quarter,
#content div.c-three-quarters > div.c-primary-box.c-one-quarter {
	width: calc(33.3333% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-half,
#content div.c-three-quarters > div.c-primary-box.c-one-half {
	width: calc(66.6666% - 24px);
}
#content h1 {
	margin-left: 12px;
	margin-right: 12px;
}
#content h2,
#content h3,
#content h4,
#content p,
#content ol,
#content ul,
#content dl {
	padding-left: 12px;
	padding-right: 12px;
}


/*s-form.css*/
form {}
fieldset {width: 50%;}
div.field {
	padding: 0 0 25px; position: relative; font-size: 0; z-index: 1;
	padding-left: 10px;
	padding-right: 10px;
}
div.field label {display: block; margin: 0 0 0 3px; line-height: 12px; font-size: 11px; text-transform: uppercase;}
div.field input,
div.field select,
div.field textarea {box-shadow: inset 0 1px 2px #dedede; box-sizing: border-box; border-radius: 0; background: #ffffff; border: 1px solid #999999; display: inline-block; vertical-align: top; margin: 2px; position: relative; z-index: 1;}
div.field input {width: calc(100% - 4px); padding: 3px 5px 3px 6px;}
div.field select {width: calc(100% - 4px); padding: 2px 3px 2px 2px;
	background: #ffffff url(/img/gx_select.svg) no-repeat right 7px;
	background-size: 20px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
@media all and (-webkit-min-device-pixel-ratio:0) {
	div.field select {padding: 3px 3px 3px 6px;}
}
div.field select option {height: 24px;}
div.field textarea {width: calc(100% - 4px); height: 100px; resize: none; overflow: auto; padding: 3px 0 2px 6px;}
div.field textarea.autoexpand {width: calc(100% - 4px); padding: 3px 6px 2px; overflow: hidden;}
div.field.checkbox {}
div.field.checkbox label {display: inline-block; vertical-align: top; text-transform: none; font-size: 14px; line-height: 24px; padding: 0 0 0 28px;
	background: transparent url(/img/gx_checkbox_unchecked.svg) no-repeat left center;
	background-size: 20px 20px;
}
div.field.checkbox input:checked + label {
	background-image: url(/img/gx_checkbox_checked.svg);
}
div.field.checkbox input {z-index: 2; position: absolute; top: 0; left: 0; width: 20px; height: 20px; opacity: 0;}
div.field.radiobuttons .item {padding: 3px 0 0; position: relative;}
div.field.radiobuttons .item label {display: block; text-transform: none; font-size: 14px; line-height: 24px;  padding: 0 0 0 28px;
	background: transparent url(/img/gx_radiobutton_unchecked.svg) no-repeat left center;
	background-size: 20px 20px;
}
div.field.radiobuttons .item input:checked + label {
	background-image: url(/img/gx_radiobutton_checked.svg);
}
div.field.radiobuttons .item input {z-index: 2; position: absolute; top: 0; left: 0; width: 20px; height: 20px; opacity: 0;}
div.field.focus input,
div.field.focus select,
div.field.focus textarea {margin: 0; width: 100%; border: 3px solid #3E8E17;}
div.field.focus textarea:not(.autoexpand) {height: 104px;}
div.field.checkbox.focus label {
	background-image: url(/img/gx_checkbox_unchecked_focus.svg);
}
div.field.radiobuttons .item input.focus + label {
	background-image: url(/img/gx_radiobutton_unchecked_focus.svg);
}
div.field.checkbox.focus input:checked + label {
	background-image: url(/img/gx_checkbox_checked_focus.svg);
}
div.field.radiobuttons .item input.focus:checked + label {
	background-image: url(/img/gx_radiobutton_checked_focus.svg);
}
div.field.error input,
div.field.error select,
div.field.error textarea {margin: 0; width: 100%; border: 3px solid #C22414;}
div.field.error textarea:not(.autoexpand) {height: 104px;}
div.field .indicator {display: inline-block; vertical-align: top; width: 12px; height: 12px; margin-left: 4px;}
div.field.required .indicator {
	background: transparent url(/img/gx_required.svg) no-repeat center 1px;
	background-size: 9px 9px;
}
div.field.checkbox .indicator {margin-top: 7px;}
div.field.correct .indicator {
	background-image: url(/img/gx_correct.svg);
	background-position: center -2px;
	background-size: 14px 14px;
}
div.field select.default {
	color: #999999;
}
div.field div.help {position: relative;}
div.field div.error,
div.field div.hint {opacity: 0; position: absolute; top: 0; left: 0; font-size: 12px; line-height: 13px; margin: 0 0 0 3px;
	transform: translate(0, -10px);
	transition: 0.3s all ease-out;
}
div.field div.error {color: #C22414;}
div.field.error div.error {opacity: 1;
	transform: translate(0, 0);
}
div.field div.hint {color: #999999;}
div.field.focus div.hint,
div.field.hover div.hint {opacity: 1;
	transform: translate(0, 0);
}
div.field.error div.hint {opacity: 0;
	transform: translate(0, -10px);
}
ul.actions,
#content ul.actions {list-style: none; margin: 0 0 0 2px; font-size: 0;}
ul.actions li,
#content ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 5px 10px 0; vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
ul.actions input.button,
ul.actions a.button,
#content ul.actions a.button {font-size: 14px; display: block; padding: 7px 14px; line-height: 22px; background-color: #bbbbbb; color: #ffffff; border: none; cursor: pointer;
	font-weight: 400;
	text-transform: uppercase;
	font-family: "voresfont";
}
ul.actions input.button {width: auto; height: auto;}
ul.actions a.button,
#content ul.actions a.button {text-decoration: none;}
ul.actions input.button:hover,
ul.actions a.button:hover,
#content ul.actions a.button:hover {background-color: #999999;}
ul.actions input.button.primary,
ul.actions a.button.primary,
#content ul.actions a.button.primary {background-color: #3e8e17; color: #ffffff;}
ul.actions input.button.primary:hover,
ul.actions a.button.primary:hover,
#content ul.actions a.button.primary:hover {background-color: #357914;}
ul.actions input.button.warning,
ul.actions a.button.warning,
#content ul.actions a.button.warning {background-color: #C22414; color: #ffffff;}
ul.actions input.button.warning:hover,
ul.actions a.button.warning:hover,
#content ul.actions a.button.warning:hover {background-color: #9a2a1d;}
ul.actions input.button.disabled,
ul.actions a.button.disabled,
#content ul.actions a.button.disabled,
ul.actions input.button.disabled:hover
ul.actions a.button.disabled:hover,
#content ul.actions a.button.disabled:hover {cursor: default !important; color: #aaaaaa !important; background-color: #eeeeee !important;}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}


/*s-pages.css*/
#content ol ol {padding-left: 30px;}
#content div.messages p.error {color: #C22414;}

/*s-login.css*/
#content .scene.login form {padding-top: 50px; width: 400px; margin: 0 auto;}
#content .scene.login form fieldset {width: auto;}
#content .scene.login ul.actions li.forgot {padding: 7px; line-height: 22px;}
#content .scene.login div.signup {width: 400px; margin: 0 auto;}


/*s-accept_terms.css*/
#content .scene.accept_terms form {padding-top: 50px; width: 300px; margin: 0 auto; text-align: center;}
#content .scene.accept_terms form fieldset {width: auto;}
body > div.overlay_protection {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 101; }
body > div.overlay {
	position: fixed;
	z-index: 102;
	background: #DDDDDD;
	border: 1px solid #BBBBBB;
	margin: 0 auto;
	text-align: center;
}
body > div.overlay p {
	line-height: 24px;
	font-family: 'Arial';
	font-size: 14px;
	color: #000000;
	padding-right: 24px;
	padding-left: 24px;
	padding-bottom: 24px;
	text-align: center;
}
body > div.overlay h2 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 30px;
	padding-bottom: 22px;
	padding-top: 17px;
	text-align: center;
}
.close {
	position: absolute;
	right: 17px;
	top: 17px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 28px;
	width: 2px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
input.action {
	background-color: #000000;
	font-family: 'voresfont';
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	padding: 7px 14px;
	display: block;
	color: #ffffff;
	width: auto;
	height: auto;
	display: block;
	border: none;
	cursor: pointer;
	font-weight: 400;
}
li.regret input.action {
	background-color: #3e8e17;
	color: #ffffff;
}
li.regret input.action:hover {
	background-color: #357914;
	color: #ffffff;
}
li.delete_me input.action {
	background-color: #BBBBBB;
}
li.delete_me input.action:hover {
	background-color: #999999;
}
ul.actions li {
	width: auto;
	height: auto;
	padding: 0 5px 10px 0;
	vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
ul.actions {
	list-style: none;
	margin: 0 0 0 2px;
	font-size: 0;
	display: inline-block;
}


/*s-profile.css*/
#content .section > h2 {
	padding: 0;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 20px;
	margin-bottom: 22px;
	border-bottom: 2px solid #808080;
}
#content .c-box {
	font-size: 0;
}
#content .c-box > h3 {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #000000;
}
.orders,
.order-headings,
.order {
	font-size: 12px;
	font-size: 0;
}
.orders {
	margin-left: 12px;
	margin-right: 12px;
}
.opening-times,
.membership-info {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.pickup-date,
.order-place,
.order-products,
.change-untill {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 25%;
}
.department-info,
.membership-info,
.user-info {
	padding-bottom: 20px;
}
#content p.over {
	font-size: 12px;
	padding-bottom: 0;
	text-transform: uppercase;
}
#content p.under {
	font-size: 18px;
	padding-bottom: 0;
}
p.change-untill {
	width: 17%;
}
#content ul.actions.change {
	padding: 0;
	margin: 0;
	width: 8%	;
}
#content ul.actions.change > li {
	padding: 0;
	margin: 0;
}
#content ul.actions.change > li > a {
	padding: 0;
	margin: 0;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 12px;
}
#content ul.actions {
	width: 100%;
	box-sizing: border-box;
	padding-right: 14px;
	padding-top: 20px;
}
#content ul.actions li {
	box-sizing: border-box;
}
#content ul.actions .full-width {
	width: 100%;
	text-align: center;
}
#content ul.actions .half-width {
	width: 50%;
	text-align: center;
}
#content ul.actions .third-width {
	width: 33.3333%;
	text-align: center;
}
