[submodule "submodules/janitor"]
	path = submodules/janitor
	url = https://github.com/parentnode/janitor
[submodule "submodules/asset-builder"]
	path = submodules/asset-builder
	url = https://github.com/parentnode/asset-builder.git
