/*
asset-builder @ 2024-03-27 23:19:28
*/

/*seg_smartphone_include.css*/

/*s-page.css*/
body {
	background: #ffffff;
	margin: 0;
}
* {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
#page {}
body span.highlight,
#page span.highlight {color: #3e8e17;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: 400;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 20px; color: #333333; outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
sup {line-height: 1em; font-family: inherit; color: inherit;}
.terms_notification {opacity: 0; position: fixed; z-index: 90; top: 50%; margin-top: -140px; right: 0px; padding: 15px 20px; background: #000000; border-right: none; max-width: 250px;}
.terms_notification h3 {padding: 0 0 20px; font-size: 18px; color: #ffffff; text-transform: uppercase;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
}
.terms_notification p {padding: 0 0 20px; font-size: 14px; color: #ffffff; line-height: 17px;}
.terms_notification .accept,
.terms_notification .details {padding: 7px 14px; line-height: 22px; font-size: 14px; text-transform: uppercase; display: inline-block; vertical-align: bottom; color: #ffffff;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
}
.terms_notification .accept {float: left; background-color: #999999;}
.terms_notification .details {float: right; text-decoration: underline;}


/*s-fonts.css*/
@font-face {
	font-family: 'voresfont';
	src: url('fonts/vores_font/voresfont.eot');
	src: url('fonts/vores_font/voresfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/vores_font/voresfont.woff2') format('woff2'),
		 url('fonts/vores_font/voresfont.woff') format('woff'),
		 url('fonts/vores_font/voresfont.svg#alte_din_1451_mittelschriftRg') format('svg'),
		 url('fonts/vores_font/voresfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


/*s-article.css*/
#content .scene .article .articlebody > p:first-child,
#content .scene .article .articlebody > h3:first-child,
#content .scene .article .articlebody > .c-wrapper:first-child {padding-top: 46px;}
#content .scene .article h1 {}
#content .scene .article > ul.info {width: 100%; margin: 0 auto; padding-top: 10px; padding-left: 12px; padding-right: 12px; box-sizing: border-box;}
#content .scene .article > ul.info li {padding-left: 0}
#content .scene > .article > .articlebody {} 
#content .scene .article ul.tags {display: none;}
#content .scene ul.info {display: none;}
#content .scene ul.info {position: relative; z-index: 1; padding-right: 0; padding-bottom: 0; vertical-align: top; width: auto; font-size: 0; line-height: 1em;}
#content .scene ul.info li {width: auto; font-size: 12px; line-height: 12px; display: inline-block; vertical-align: top;}
#content .scene ul.info > li.author:before,
#content .scene ul.info > li.place:before {content: "\00a0|\00a0"; display: inline-block; vertical-align: top; font-size: 12px; line-height: 10px; }
#content .scene ul.info li.main_entity,
#content .scene ul.info li.url,
#content .scene ul.info li.publisher,
#content .scene ul.info li.image_info,
#content .scene ul.info li.modified_at,
#content .scene ul.info li.latitude,
#content .scene ul.info li.longitude {display: none;}
#content .scene ul.info li + li {padding-top: 0;}


/*s-form.css*/
form {}
div.field {
	padding: 0 0 25px; position: relative; font-size: 0; z-index: 1;
	padding-left: 10px;
	padding-right: 10px;
}
div.field label {display: block; margin: 0 0 0 2px; line-height: 12px; font-size: 11px; text-transform: uppercase;}
div.field input,
div.field select,
div.field textarea {box-shadow: inset 0 1px 2px #dedede; box-sizing: border-box; border-radius: 0; background: #ffffff; border: 1px solid #999999; display: inline-block; vertical-align: top; margin: 2px; position: relative; z-index: 1;}
div.field input {width: calc(100% - 4px); padding: 3px 5px 3px 6px;}
div.field select {width: calc(100% - 4px); padding: 2px 3px 2px 2px;
	background: #ffffff url(../img/gx_select.svg) no-repeat right 7px;
	background-size: 20px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
div.field select:not(*:root) {
	padding: 3px 3px 3px 6px;
}
@-moz-document url-prefix() { 
	div.field select {
		padding: 3px 3px 3px 6px;
	}
}
div.field select option {height: 24px;}
div.field textarea {width: calc(100% - 4px); height: 100px; resize: none; overflow: auto; padding: 3px 0 2px 6px;}
div.field textarea.autoexpand {width: calc(100% - 4px); padding: 3px 6px 2px; overflow: hidden;}
div.field .pseudolabel {z-index: 2; display: none; position: absolute; font-size: 20px; padding: 2px 5px; margin: 2px 2px; background-color: #ffffff;}
div.field input.default ~ .pseudolabel {display: inline-block;}
div.field:not(.integer,.number) .pseudolabel {display: none !important;}
div.field.checkbox {}
div.field.checkbox label {display: inline-block; vertical-align: top; text-transform: none; font-size: 14px; line-height: 24px; padding: 0 0 0 28px;
	background: transparent url(../img/gx_checkbox_unchecked.svg) no-repeat left 2px;
	background-size: 20px 20px;
}
div.field.checkbox input:checked + label {
	background-image: url(../img/gx_checkbox_checked.svg);
}
div.field.checkbox input {z-index: 2; position: absolute; top: 0; left: 0; width: 20px; height: 20px; opacity: 0;}
div.field.radiobuttons .item {padding: 3px 0 0; position: relative;}
div.field.radiobuttons .item label {display: block; text-transform: none; font-size: 14px; line-height: 24px;  padding: 0 0 0 28px;
	background: transparent url(../img/gx_radiobutton_unchecked.svg) no-repeat left 2px;
	background-size: 20px 20px;
}
div.field.radiobuttons .item input:checked + label {
	background-image: url(../img/gx_radiobutton_checked.svg);
}
div.field.radiobuttons .item input {z-index: 2; position: absolute; top: 0; left: 0; width: 20px; height: 20px; opacity: 0;}
div.field.files {padding: 0; margin: 0 10px 25px 12px;}
div.field.files input[type="file"] {z-index: 10; opacity: 0; position: absolute; top: 0; left: 0; width: 100%; border: none; height: 60px; margin: 15px 0 0; padding: 0; height: 100%; position: absolute; top: 0; left: 0;}
div.field.files ul.filelist {border: 1px dashed #999999; width: calc(100% - 4px); text-align: center; display: block; position: relative; padding: 20px 0 !important; margin: 2px 0 !important; overflow: hidden;}
div.field.files ul.filelist li {box-sizing: border-box; display: block; padding: 2px 0 2px; font-size: 13px; line-height: 17px; text-align: center;}
div.field.files ul.filelist li.new {font-weight: bold;}
div.field.files ul.filelist li.label {display: inline-block; padding: 1px 10px 3px; margin: 0 20px 5px; border-radius: 6px; background: #dedede;}
div.field.focus input,
div.field.focus select,
div.field.focus textarea {margin: 0; width: 100%; border: 3px solid #3E8E17;}
div.field.focus textarea:not(.autoexpand) {height: 104px;}
div.field.checkbox.focus label {
	background-image: url(../img/gx_checkbox_unchecked_focus.svg);
}
div.field.radiobuttons .item input.focus + label {
	background-image: url(../img/gx_radiobutton_unchecked_focus.svg);
}
div.field.checkbox.focus input:checked + label {
	background-image: url(../img/gx_checkbox_checked_focus.svg);
}
div.field.radiobuttons .item input.focus:checked + label {
	background-image: url(../img/gx_radiobutton_checked_focus.svg);
}
div.field.checkbox.focus input,
div.field.radiobuttons .item input.focus {
	width: 20px;
}
div.field input[type="integer"],
div.field input[type="number"] {
	-moz-appearance: textfield;
}
div.field input[type="integer"]::-webkit-inner-spin-button,
div.field input[type="integer"]::-webkit-outer-spin-button,
div.field input[type="number"]::-webkit-inner-spin-button,
div.field input[type="number"]::-webkit-outer-spin-button {margin: 0;
	-webkit-appearance: none;
}
div.field.files.focus ul.filelist {border-color: #3E8E17; border-width: 3px; width: calc(100% - 8px); margin: 0 !important;}
div.field.error input,
div.field.error select,
div.field.error textarea {margin: 0; width: 100%; border: 3px solid #C22414;}
div.field.error textarea:not(.autoexpand) {height: 104px;}
div.field.checkbox.error input,
div.field.radiobuttons.error .item input {
	width: 20px;
}
div.field.files.error ul.filelist {border-color: #C22414; border-width: 3px; width: calc(100% - 8px); margin: 0 !important;}
div.field.error.focus .help .error,
div.field.error.focus .help .error,
div.field.error.focus .help .error {opacity: 0; transform: translate(0, -10px); }
div.field.error.focus .help .hint,
div.field.error.focus .help .hint,
div.field.error.focus .help .hint {opacity: 1; transform: translate(0, 0);}
div.field .indicator {display: inline-block; vertical-align: top; width: 12px; height: 12px; margin-left: 4px;}
div.field.required .indicator {
	background: transparent url(../img/gx_required.svg) no-repeat center 1px;
	background-size: 9px 9px;
}
div.field.checkbox .indicator {margin-top: 7px;}
div.field.files .indicator {left: 392px; top: 0px;}
div.field.correct .indicator {
	background-image: url(../img/gx_correct.svg);
	background-position: center -2px;
	background-size: 14px 14px;
}
div.field .default,
div.field input.default,
div.field .pseudolabel {color: #999999;}
div.field > div.help {position: relative;}
div.field > div.help > div.error,
div.field > div.help > div.hint {opacity: 0; position: absolute; top: 0; left: 0; font-size: 12px; line-height: 13px; margin: 0 0 0 3px;
	transform: translate(0, -10px);
	transition: 0.3s all ease-out;
}
div.field > div.help > div.error {color: #C22414; z-index: -10;}
div.field.error > div.help > div.error {opacity: 1;
	transform: translate(0, 0);
}
div.field > div.help > div.hint {color: #999999; z-index: -10;}
div.field.focus > div.help > div.hint {opacity: 1; transform: translate(0, 0);}
div.field.error > div.help > div.hint {opacity: 0; transform: translate(0, -10px);}
ul.actions,
#content ul.actions {list-style: none; text-align: right; margin: 0; font-size: 0;}
ul.actions li,
#content ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 0 10px 5px; vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
ul.actions input.button,
ul.actions a.button,
#content ul.actions a.button {font-size: 14px; display: block; padding: 7px 14px; line-height: 22px; background-color: #999999; color: #ffffff; border: none; cursor: pointer;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
}
ul.actions input.button {width: auto; height: auto;}
ul.actions a.button,
#content ul.actions a.button {text-decoration: none;}
ul.actions input.button:hover,
ul.actions a.button:hover,
#content ul.actions a.button:hover {background-color: #666666;}
ul.actions input.button.primary,
ul.actions a.button.primary,
#content ul.actions a.button.primary {background-color: #3e8e17; color: #ffffff;}
ul.actions input.button.primary:hover,
ul.actions a.button.primary:hover,
#content ul.actions a.button.primary:hover {background-color: #357914;}
ul.actions input.button.warning,
ul.actions a.button.warning,
#content ul.actions a.button.warning {background-color: #C22414; color: #ffffff;}
ul.actions input.button.warning:hover,
ul.actions a.button.warning:hover,
#content ul.actions a.button.warning:hover {background-color: #9a2a1d;}
ul.actions input.button.disabled,
ul.actions a.button.disabled,
#content ul.actions a.button.disabled,
ul.actions input.button.disabled:hover
ul.actions a.button.disabled:hover,
#content ul.actions a.button.disabled:hover {cursor: default !important; color: #aaaaaa !important; background-color: #eeeeee !important;}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
div.field.html {
	z-index: 3;
}
div.field.html.optionsshown {z-index: 60 !important;}
div.field.html div.html_editor_hint {width: 383px;}
div.field.html div.html_editor_hint_content {display: none;}
div.field.html div.html_editor_hint h3,
div.field.html div.html_editor_hint h4,
div.field.html div.html_editor_hint p {padding: 0 0 5px;}
div.field.html div.html_editor_hint p+h3,
div.field.html div.html_editor_hint p+h4 {padding: 10px 0 5px;}
div.field.html div.html_editor_hint .open,
div.field.html div.html_editor_hint .close {font-size: 1rem; line-height: 1em; cursor: pointer; vertical-align: top; margin: 3px 3px 0; border-radius: 13px; background-color: #313942; padding: 6px 10px 7px; color: #ffffff; margin: 10px 0 20px; text-align: center;}
div.field.html > textarea {display: none;}
div.field.html.focus > textarea {margin: 2px; border: 1px solid #dcdcdc;}
div.field.html > textarea.show {display: block; height: 200px; }
div.field.html > label {display: block;   font-size: 12px;}
div.field.html > label span {font-size: 10px; float: right; padding: 1px 0 0; cursor: pointer;}
div.field.html > .indicator {top: 33px;}
div.field.html .viewer {display: none;}
div.field.html .editor {  position: relative; z-index: 3;}
div.field.html ul.new_tag_options {display: block; vertical-align: top; position: relative; z-index: 1; padding: 0 0 10px !important; margin: 0 !important;}
div.field.html ul.new_tag_options li {font-size: 1rem; line-height: 1em !important; color: #000000; cursor: pointer; margin: 3px 3px 0; border-radius: 13px; background-color: #dedede; padding: 6px 10px 7px !important;  display: block;}
div.field.html ul.new_tag_options li:hover {background-color: #3E8E17; color: #ffffff;}
/*div.field.html ul.new_tag_options.show li.add {top: 0; left: 0; background-color: #df0000;}
div.field.html ul.new_tag_options.show li {display: inline-block; position: relative; top: -26px; left: 26px;}
*/
div.field.html .editor div.tag {margin: 2px 2px 3px; padding: 0 0 0 30px; background-color: #dcdcdc; position: relative; border: 1px solid #999999;}
div.field.html .editor div.dragged {background-color: #3E8E17; border-color: #3E8E17;}
div.field.html .editor div.tag.dragged .drag {background-color: #3E8E17;}
div.field.html .editor div.tag.dragged ul.type li {color: #ffffff;}
div.field.html .editor div.tag .drag {display: none; position: absolute; top: 0px; left: -20px; border-top-left-radius: 100%; border-bottom-left-radius: 100%; background: #dedede; width: 27px; height: 27px; cursor: move;
	background: #dedede url(../img/bg_icons.png) no-repeat 6px -93px;
}
div.field.html .editor div.tag:hover .drag {display: block;}
div.field.html .editor div.tag ul.tag_options {display: none; z-index: 10; position: absolute; top: 0px; right: -14px; list-style: none !important; padding: 0 !important; margin: 0 !important;}
div.field.html .editor div.tag ul.tag_options li {padding: 0 !important; box-sizing: border-box; display: block;}
div.field.html .editor div.tag.classname_open ul.tag_options,
div.field.html .editor div.tag:hover ul.tag_options {display: block;}
div.field.html .editor div.tag ul.tag_options li.add {position: absolute; top: 13px; right: 8px; border-radius: 15px; background: #dedede; width: 30px; height: 30px; cursor: pointer;
	font-size: 16px; line-height: 1em; padding: 3px 4px !important; text-align: center;
}
div.field.html .editor div.tag ul.tag_options li.add:hover {background-color: #3E8E17; color: #ffffff;}
div.field.html .editor div.tag:first-child ul.tag_options li.remove {display: none;}
div.field.html .editor div.tag ul.tag_options li.remove {position: absolute; top: 0px; right: -15px; border-radius: 15px; background: #dedede; width: 30px; height: 30px; cursor: pointer;
	background: #dedede url(../img/bg_icons.png) no-repeat 8px -42px;
}
div.field.html .editor div.tag ul.tag_options li.remove:hover {background-color: #C22414;}
div.field.html .editor div.tag ul.tag_options li.classname {position: absolute; top: -15px; right: 8px; border-radius: 15px; background: #dedede; width: 30px; height: 30px; cursor: pointer;}
div.field.html .editor div.tag ul.tag_options li.classname.open {width: auto; white-space: nowrap; font-size: 0;}
div.field.html .editor div.tag ul.tag_options li.classname span {display: inline-block; vertical-align: top; font-size: 10px; padding-top: 3px; padding-left: 5px;}
div.field.html .editor div.tag ul.tag_options li.classname:hover {background-color: #3E8E17; color: #ffffff;}
div.field.html .editor div.tag ul.tag_options li.classname form {margin: 0; display: inline-block; vertical-align: top;}
div.field.html .editor div.tag ul.tag_options li.classname form .field {padding: 3px 12px 0 3px;}
div.field.html .editor div.tag ul.tag_options li.classname form .field label {display: none;}
div.field.html .editor div.tag ul.tag_options li.classname form .field input {height: 24px; width: 100px; font-size: 13px; margin: 0;}
div.field.html .editor div.tag ul.tag_options li.classname form .field.focus input {border: 1px solid #999999; margin: 0px;}
div.field.html .editor div.tag span.classname {position: absolute; top: -7px; right: 20px; background: #dedede; border-radius: 6px; font-size: 9px; display: block; padding: 2px 5px; line-height: 9px;}
div.field.html .editor div.tag ul.type {display: block; z-index: 5; position: absolute; width: 30px; top: 0px; left: 0px; padding: 0 !important; margin: 0 !important;}
div.field.html .editor div.tag ul.type li {display: none; text-transform: uppercase; padding: 9px 4px !important; text-align: center; font-size: 11px; line-height: 1em !important; cursor: default;}
div.field.html .editor div.tag ul.type.clickable li {cursor: pointer;}
div.field.html .editor div.tag ul.type li.selected {display: block;}
div.field.html .editor div.tag ul.type.open {z-index: 10; border: 1px solid #999999; margin: -1px !important; background-color: #F5F7F8;}
div.field.html .editor div.tag ul.type.open li {display: block; color: #5c5c5c !important;}
div.field.html .editor div.tag ul.type.open li:hover {background-color: #dedede;}
div.field.html .editor div.tag ul.type.open li.selected {background-color: #3E8E17 !important; color: #ffffff !important;}
div.field.html .editor div.tag ul.type li.code {font-size: 8px; padding: 11px 0 !important;}
div.field.html .editor div.tag ul.type li.media {font-size: 8px; padding: 11px 0 !important;}
div.field.html .editor div.tag ul.type li.youtube {font-size: 8px; padding: 5px 4px !important; word-wrap: break-word;}
div.field.html .editor div.tag ul.type li.vimeo {font-size: 8px; padding: 11px 0 !important;}
div.field.html .editor div.tag ul.type li.file {font-size: 8px; padding: 11px 0 !important;}
div.field.html .editor div.tag div.text {display: inline-block; vertical-align: top; width: 100%; box-sizing: border-box; height: auto; padding: 4px 6px; line-height: 1.375em; color: #333333; box-shadow: inset 0 1px 2px #dedede; background: #ffffff; min-height: 20px; outline: none;}
div.field.html .editor div.tag div.text em,
div.field.html .editor div.tag div.text strong,
div.field.html .editor div.tag div.text a,
div.field.html .editor div.tag div.text span,
div.field.html .editor div.tag div.text sup {background-color: rgba(255, 0, 0, 0.3); cursor: default; font-size: inherit;}
div.field.html .editor div.tag div.text sup {line-height: 1em; font-size: 11px;}
div.field.html .editor div.tag.focus {background-color: #3E8E17; padding: 0 0 0 30px; margin: 0 0 1px; border: 3px solid #3E8E17;}
div.field.html .editor div.tag + div.tag.focus {margin-top: -2px;}
div.field.html .editor div.tag.focus + div.tag {margin-top: 1px;}
div.field.html .editor div.tag.focus .drag {background-color: #3E8E17; }
div.field.html .editor div.tag.focus ul.type li {color: #ffffff;}
div.field.html .editor div.tag.h1 div.text {font-size: 36px;}
div.field.html .editor div.tag.h2 div.text {font-size: 30px;}
div.field.html .editor div.tag.h3 div.text {font-size: 20px;}
div.field.html .editor div.tag.h4 div.text {font-size: 16px;}
div.field.html .editor div.tag.h5 div.text {font-size: 14px;}
div.field.html .editor div.tag.p div.text {font-size: 14px;}
div.field.html .editor div.tag.code div.text {font-size: 12px; line-height: 1.761em; white-space: pre-wrap;
	font-family: "Monaco", "Courier New", "Courier";
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
div.field.html .editor div.tag.ul {padding-left: 50px;}
div.field.html .editor div.tag.ol {padding-left: 50px;}
div.field.html .editor div.tag div.li {font-size: 14px;}
div.field.html .editor div.tag div.li div.text {width: 414px;}
div.field.html .editor div.tag.file .text {padding: 0 6px; height: 28px;}
div.field.html .editor div.tag.file.done .text {color: #aaaaaa; font-size: 13px; padding: 4px 6px; line-height: 1.461em; height: auto; text-decoration: underline;}
div.field.html .editor div.tag.file.done.focus .text {color: #333333;}
div.field.html .editor div.tag.file .text label {padding: 5px 0 0; display: block; text-align: center; position: absolute; z-index: 1; width: 432px; color: #aaaaaa;}
div.field.html .editor div.tag.file input {width: 416px; opacity: 0; height: 18px; position: relative; z-index: 2;
	font-size: 130px;
}
div.field.html .editor div.tag.media .text {padding: 0 6px; height: 28px;}
div.field.html .editor div.tag.media.done .text {color: #aaaaaa; font-size: 13px; padding: 4px 6px; line-height: 1.461em; height: auto;}
div.field.html .editor div.tag.media.done.focus .text {color: #333333;}
div.field.html .editor div.tag.media .text label {padding: 5px 0 0; display: block; text-align: center; position: absolute; z-index: 1; width: 432px; color: #aaaaaa;}
div.field.html .editor div.tag.media input {width: 416px; opacity: 0; height: 18px; position: relative; z-index: 2;
	font-size: 130px;
}
div.field.html .editor div.tag.media img {width: 444px; margin: 2px;}
div.field.html .editor div.tag.vimeo .text,
div.field.html .editor div.tag.youtube .text {padding: 0 6px; height: 28px; color: #aaaaaa; font-size: 13px; padding: 4px 6px; line-height: 1.461em; height: auto;}
div.field.html .editor div.tag.vimeo.focus .text,
div.field.html .editor div.tag.youtube.focus .text {color: #333333;}
div.field.html .editor .selection_options {  background-color: #F5F7F8; border: 1px solid #999999; border-bottom: none; margin: 2px 2px -2px; padding: 10px 15px; }
div.field.html .editor .selection_options h3 {padding: 0 0 10px; text-align: left; font-size: 13px;}
div.field.html .editor .selection_options ul.options {margin: 0 !important; padding: 0 !important; text-align: center; font-size: 0;}
div.field.html .editor .selection_options ul.options li {display: inline-block; vertical-align: top; width: 20%; font-size: 13px; box-sizing: border-box; padding: 0 10px !important; cursor: pointer;}
div.field.html .editor .selection_options ul.options li.link {text-decoration: underline;}
div.field.html .editor .selection_options ul.options li.em {font-style: italic;}
div.field.html .editor .selection_options ul.options li.strong {font-weight: 700;}
div.field.html .editor .selection_options form {font-size: 0; padding-top: 10px;}
div.field.html .editor .selection_options fieldset,
div.field.html .editor .selection_options ul.actions {display: inline-block; vertical-align: top;}
div.field.html .editor .selection_options fieldset {width: calc(100% - 120px);}
div.field.html .editor .selection_options .field {margin-left: -2px; padding: 0 0 15px;}
div.field.html .editor .selection_options .field.error {position: relative; }
div.field.html .editor .selection_options ul.actions {padding: 10px 0 0 !important; width: 120px;}
div.field.html .editor .selection_options ul.actions li {padding: 0;}
.delete_selection {position: absolute; z-index: 1150; top: 0; left: 0; border-radius: 8px; width: 14px; height: 14px; font-size: 10px; line-height: 14px; text-align: center; background: #ffffff; border: 1px solid #000000; cursor: pointer;}
.edit_selection {position: absolute; z-index: 1150; top: 0; left: 0; border-radius: 8px; width: 14px; height: 14px; font-size: 10px; line-height: 14px; text-align: center; background: #ffffff; border: 1px solid #000000; cursor: pointer;}


/*s-header.css*/
#header {
	position: fixed;
	width: 100%;
	z-index: 10;
	padding: 12px 0;
}
#header .logo {
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	height: 50px;
	margin-left: 12px;
	width: 50px;
	display: inline-block;
	background: #ffffff url(../img/logos/logo-stempel_sort_stor.png) no-repeat center center;
	background-size: 50px;
	border-radius: 25px;
	overflow: hidden;
	text-indent: -9999px;
}
#header .servicenavigation {
}
#header .servicenavigation li {display: none;}
#header .servicenavigation li.navigation {display: block; position: absolute; right: 12px; top: 12px; width: 30px; height: 35px; padding: 15px 10px 0; background: #ffffff; border-radius: 25px; overflow: hidden;
	z-index: 10;
}
#header .servicenavigation li.navigation div {height: 2px; margin: 0; background: #000000;}
#header .servicenavigation li.navigation.open div {background: #aaaaaa;}
#header .servicenavigation li.navigation a {display: none;}
#header .servicenavigation li.navigation div:nth-child(3) {
	transform: translate(0, 8px);
}
#header .servicenavigation li.navigation div:nth-child(4) {
	transform: translate(0, 16px);
}
#header .servicenavigation li.navigation.open div:nth-child(3) {
	opacity: 0;
}
#header .servicenavigation li.navigation.open div:nth-child(2) {
	transform-origin: center center;
	transform: translate(0, 12px) rotate(45deg) ;
	margin: 0px;
}
#header .servicenavigation li.navigation.open div:nth-child(4) {
	transform-origin: center center;
	transform: translate(0px, 8px) rotate(-45deg);
	margin: 0px;
}


/*s-navigation.css*/
#navigation {position: absolute; z-index: 5; width: 100%; top: 0; display: none; overflow-x: hidden;
	background: #ffffff;}
#navigation ul {padding-top: 80px;}
#navigation ul li {padding: 0px 12px 3px 12px; margin-bottom: 3px;font-size: 20px; color: #000000; display: block; text-align: center;
}
#navigation ul li.admin,
#navigation ul li.user {border-top: 1px solid #888888; margin-top: 10px;}
#navigation ul li.admin+li.user {border: none; margin: 0;}
#navigation ul li:active {text-decoration: none;}
#navigation ul.navigation li.path > h4,
#navigation ul.navigation li.path > h5,
#navigation ul.navigation li.path > a,
#navigation ul.navigation li.selected > h4,
#navigation ul.navigation li.selected > h5,
#navigation ul.navigation li.selected > a {
	background-color: #3e8e17;
	border: 0px solid #3e8e17;
	padding: 8px 12px;
	color: #fff;
}
#navigation ul.navigation ul li {
	display: block;
	margin: 6px 5px;
}
#navigation ul.navigation h5,
#navigation ul.navigation h4,
#navigation ul.navigation a {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.5px;
	padding: 5px 12px;
	display: block;
	color: #ffffff;
	background-color: #000000;
}
#navigation ul.navigation ul li h5,
#navigation ul.navigation ul li h4,
#navigation ul.navigation ul li a{
	background-color: #666;
}
#navigation ul.navigation h5:hover,
#navigation ul.navigation a:hover {
	background-color: #3e8e17;
}
#navigation ul.navigation h5:hover {
	cursor: pointer;
}
*/


/*s-content.css*/
#content {
	margin: 0 auto;
	position: relative;
	width: 960px;
}
#content p,
#content ul,
#content ol,
#content pre,
#content table,
#content blockquote {
	padding-bottom: 24px;
}
#content h1 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 42px;
	padding-bottom: 2px;
	padding-top: 13px;
	box-sizing: border-box;
	border-bottom: 2px solid #000;
}
#content h2 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 30px;
	padding-bottom: 22px;
	padding-top: 46px;
}
#content h3 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
}
#content h4 {
	font-size: 14px;
	line-height: 24px;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#content p {
	line-height: 24px;
}
#content h1 + p,
#content h1 + h3,
#content h1 + .c-wrapper,
#content h1 + div.messages {
	padding-top: 46px;
}
#content h4 + ul,
#content h4 + ol {
	padding-top: 18px;
}
#content a {
	text-decoration: none;
	color: #3e8e17;
	font-weight: bold;
}
#content a:hover {
	color: black;
}
#content .system-warning {
	color: #C22414;
}
#content blockquote {
	font-style: italic;
	margin: 0px;
}
#content img.fit-width {
	width: 100%;
}
#content img {
	display: block;
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 12px;
}
#content ol {
	list-style-type: decimal;
	margin-left: 16px;
}
#content ul {
	list-style: disc;
	margin-left: 15px;
}
#content li {
	line-height: 24px;
	padding-left: 8px;
}
#content ul.richtext {
	list-style: none;
	margin-left: 0;
}
#content ul.richtext > li {
	padding-left: 0;
}
#content li + li {
	padding-top: 12px;
}
#content dl {
	padding-bottom: 12px;
}
#content dt {
	font-size: 14px;
	line-height: 24px;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#content dl {
	padding-bottom: 12px;
}
#content dd {
	padding-bottom: 12px;
}
#content code {
	display: block;
	padding: 24px;
	margin-bottom: 24px;
	white-space: pre-wrap;
	font-family: monospace;
	background-color: #DDDDDD;
}
#content span.path {
	font-family: monospace;
	background-color: #DDDDDD;
	padding: 0 6px;
}
#content h1 {
	margin-left: 12px;
	margin-right: 12px;
}
#content h2,
#content h3,
#content h4,
#content p,
#content ol,
#content ul,
#content dl {
	padding-left: 12px;
	padding-right: 12px;
}
#content div.messages p.message {padding: 10px; margin-bottom: 10px; border: 2px solid #3E8E17; color: #3E8E17;}
#content div.messages p.error {padding: 10px; margin-bottom: 10px; border: 2px solid #C22414; color: #C22414;}
#content div.c-wrapper {
	display: block;
	font-size: 0;
	width: 100%;
	min-height: 100px;
}
#content div.c-one-quarter,
#content div.c-one-third,
#content div.c-one-half,
#content div.c-two-thirds,
#content div.c-three-quarters {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	min-height: 200px;
}
#content div.c-three-quarters {
	width: 75%;
}
#content div.c-two-thirds {
	width: 66.6666%;
}
#content div.c-one-half {
	width: 50%;
}
#content div.c-one-third {
	width: 33.3333%;
}
#content div.c-one-quarter {
	width: 25%;
}
#content div.c-box,
#content div.c-primary-box {
	box-sizing: border-box;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
}
#content div.c-box {
	background: #f2f2f2;
}
#content div.c-box.obs {
	border-top: 2px solid #3e8e17;
}
#content div.c-primary-box {
	background: #3e8e17;
}
#content .c-box > h2,
#content .c-primary-box > h2 {
	padding-top: 22px;
}
#content div.c-box > p:first-child,
#content div.c-primary-box > p:first-child {
	padding-top: 12px;
}
#content div.c-primary-box h1,
#content div.c-primary-box h2,
#content div.c-primary-box h3,
#content div.c-primary-box h4,
#content div.c-primary-box p,
#content div.c-primary-box ol,
#content div.c-primary-box ul,
#content div.c-primary-box dl,
#content div.c-primary-box li {
	color: white;
}
#content div.c-box.c-one-quarter,
#content div.c-primary-box.c-one-quarter {
	width: calc(25% - 24px);
}
#content div.c-box.c-one-third,
#content div.c-primary-box.c-one-third {
	width: calc(33.3333% - 24px);
}
#content div.c-box.c-one-half,
#content div.c-primary-box.c-one-half {
	width: calc(50% - 24px);
}
#content div.c-box.c-two-thirds,
#content div.c-primary-box.c-two-thirds {
	width: calc(66.6666% - 24px);
}
#content div.c-box.c-four-quarters,
#content div.c-primary-box.c-four-quarters {
	width: calc(75% - 24px);
}
#content div.c-two-thirds > div.c-one-third {
	width: 50%;
}
#content div.c-one-half > div.c-one-quarter {
	width: 50%;
}
#content div.c-three-quarters > div.c-one-quarter {
	width: 33.3333%;
}
#content div.c-three-quarters > div.c-one-half {
	width: 66.6666%;
}
#content div.c-two-thirds > div.c-box.c-one-third,
#content div.c-two-thirds > div.c-primary-box.c-one-third {
	width: calc(50% - 24px);
}
#content div.c-one-half > div.c-box.c-one-quarter,
#content div.c-one-half > div.c-primary-box.c-one-quarter {
	width: calc(50% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-quarter,
#content div.c-three-quarters > div.c-primary-box.c-one-quarter {
	width: calc(33.3333% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-half,
#content div.c-three-quarters > div.c-primary-box.c-one-half {
	width: calc(66.6666% - 24px);
}
#content .banner {position: relative;}
#content .banner > img {padding-top: 5px;}
#content .banner > div.logo {position: absolute; top: 5px; left: 25px; width: 318px; height: 206px;
	background: transparent url(../img/banners/desktop/logo_layover.png) no-repeat top left;
	background-size: 100% auto;
}

/*s-content-overwrites.css*/
#content {
	padding-top: 70px;
    width: unset;
}
#content div.messages p.message,
#content div.messages p.error {margin-left: 12px; margin-right: 12px;}
#content div.c-one-quarter {
	width: 50%;
}
#content div.c-one-third,
#content div.c-one-half,
#content div.c-two-thirds {
    width: unset;
}
#content div.c-box.c-one-quarter,
#content div.c-primary-box.c-one-quarter {
	width: unset;
}
#content div.c-box.c-one-third,
#content div.c-primary-box.c-one-third {
	width: unset;
}
#content div.c-box.c-one-half,
#content div.c-primary-box.c-one-half {
	width: unset;
}
#content div.c-box.c-two-thirds,
#content div.c-primary-box.c-two-thirds {
	width: unset;
}
#content div.c-box.c-four-quarters,
#content div.c-primary-box.c-four-quarters {
	width: unset;
}
#content div.c-two-thirds > div.c-one-third {
	width: 50%;
}
#content div.c-one-half > div.c-one-quarter {
	width: 50%;
}
#content div.c-three-quarters > div.c-one-quarter {
	width: 50%;
}
#content div.c-three-quarters > div.c-one-half {
	width: unset;
}
#content div.c-two-thirds > div.c-box.c-one-third,
#content div.c-two-thirds > div.c-primary-box.c-one-third {
	width: calc(50% - 24px);
}
#content div.c-one-half > div.c-box.c-one-quarter,
#content div.c-one-half > div.c-primary-box.c-one-quarter {
	width: calc(50% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-quarter,
#content div.c-three-quarters > div.c-primary-box.c-one-quarter {
	width: calc(50% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-half,
#content div.c-three-quarters > div.c-primary-box.c-one-half {
	width: unset
}
#content div.c-wrapper {
    display: flex;
    flex-direction: column;
}
.c-two-thirds {
    order: 2;
}
.c-one-third {
    order: 1;
}
#content .banner > div.logo {width: unset; height: 100%; aspect-ratio: 1.5;
	background-image: url(../img/banners/smartphone/logo_layover.png);
}


/*s-footer.css*/
#footer {
	height: 48px;
	background: #484848;
}
#footer ul.servicenavigation {
	margin: 0 auto;
	position: relative;
	width: 936px;
	text-align: right;
}
#footer ul.servicenavigation li {
	display: inline-block;
	padding: 17px 0 10px 15px;
	color: #ffffff;
}
#footer ul.servicenavigation li.copyright {
	float: left;
	padding-left: 0;
}


/*s-footer-overwrites.css*/
#footer {padding: 0 12px;}
#footer ul.servicenavigation {
	width: unset;
}
