/*
asset-builder @ 2019-03-18 15:31:02
*/

/*seg_desktop_include.css*/

/*s-page.css*/
body {
	background: #ffffff;
	margin: 0;
}
* {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
#page {}
body span.highlight,
#page span.highlight {color: #3e8e17;}
body p.error,
body p.errormessage,
#page p.error,
#page p.errormessage {color: #C22414;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: 400;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 20px; color: #333333; outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
sup {line-height: 1em; font-family: inherit; color: inherit;}


/*s-fonts.css*/
@font-face {
	font-family: 'voresfont';
	src: url('fonts/vores_font/voresfont.eot');
	src: url('fonts/vores_font/voresfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/vores_font/voresfont.woff2') format('woff2'),
		 url('fonts/vores_font/voresfont.woff') format('woff'),
		 url('fonts/vores_font/voresfont.svg#alte_din_1451_mittelschriftRg') format('svg'),
		 url('fonts/vores_font/voresfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


/*s-article.css*/
#content .scene .article .articlebody > p:first-child,
#content .scene .article .articlebody > h3:first-child,
#content .scene .article .articlebody > .c-wrapper:first-child {padding-top: 46px;}
#content .scene .article h1 {}
#content .scene .article > ul.info {width: 100%; margin: 0 auto; padding-top: 10px; padding-left: 12px; padding-right: 12px; box-sizing: border-box;}
#content .scene .article > ul.info li {padding-left: 0}
#content .scene > .article > .articlebody {width: 600px; margin: 0 auto;} 
#content .scene .article ul.tags {display: none;}
#content .scene ul.info {display: none;}
#content .scene ul.info {position: relative; z-index: 1; padding-right: 0; padding-bottom: 0; vertical-align: top; width: auto; font-size: 0; line-height: 1em;}
#content .scene ul.info li {width: auto; font-size: 12px; line-height: 12px; display: inline-block; vertical-align: top;}
#content .scene ul.info > li.author:before,
#content .scene ul.info > li.place:before {content: "\00a0|\00a0"; display: inline-block; vertical-align: top; font-size: 12px; line-height: 10px; }
#content .scene ul.info li.main_entity,
#content .scene ul.info li.url,
#content .scene ul.info li.publisher,
#content .scene ul.info li.image_info,
#content .scene ul.info li.modified_at,
#content .scene ul.info li.latitude,
#content .scene ul.info li.longitude {display: none;}
#content .scene ul.info li + li {padding-top: 0;}
#content .scene ul.offer,
#content .scene .articlebody ul.offer {font-size: 0; padding: 0; margin: 0; list-style: none;}
#content .scene ul.offer li.name,
#content .scene ul.offer li.currency,
#content .scene ul.offer li.url {display: none;}
#content .scene ul.offer li {font-size: 14px; width: auto; display: inline-block; vertical-align: top; padding: 0 5px 0 12px;}
#content .scene ul.offer li.default {text-decoration: line-through;}
#content .scene ul.offer li.description {padding-top: 4px; display: block;}
#content .scene ul.offer li.description ul {list-style: disc;}
#content .scene ul.offer li.description ul li {display: list-item; padding: 0 0 3px; font-size: 13px;}


/*s-form.css*/
form {}
div.field {
	padding: 0 0 25px; position: relative; font-size: 0; z-index: 1;
	padding-left: 10px;
	padding-right: 10px;
}
div.field label {display: block; margin: 0 0 0 2px; line-height: 12px; font-size: 11px; text-transform: uppercase;}
div.field input,
div.field select,
div.field textarea {box-shadow: inset 0 1px 2px #dedede; box-sizing: border-box; border-radius: 0; background: #ffffff; border: 1px solid #999999; display: inline-block; vertical-align: top; margin: 2px; position: relative; z-index: 1;}
div.field input {width: calc(100% - 4px); padding: 3px 5px 3px 6px;}
div.field select {width: calc(100% - 4px); padding: 2px 3px 2px 2px;
	background: #ffffff url(../img/gx_select.svg) no-repeat right 7px;
	background-size: 20px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
div.field select:not(*:root) {
	padding: 3px 3px 3px 6px;
}
div.field select option {height: 24px;}
div.field textarea {width: calc(100% - 4px); height: 100px; resize: none; overflow: auto; padding: 3px 0 2px 6px;}
div.field textarea.autoexpand {width: calc(100% - 4px); padding: 3px 6px 2px; overflow: hidden;}
div.field.checkbox {}
div.field.checkbox label {display: inline-block; vertical-align: top; text-transform: none; font-size: 14px; line-height: 24px; padding: 0 0 0 28px;
	background: transparent url(../img/gx_checkbox_unchecked.svg) no-repeat left center;
	background-size: 20px 20px;
}
div.field.checkbox input:checked + label {
	background-image: url(../img/gx_checkbox_checked.svg);
}
div.field.checkbox input {z-index: 2; position: absolute; top: 0; left: 0; width: 20px; height: 20px; opacity: 0;}
div.field.radiobuttons .item {padding: 3px 0 0; position: relative;}
div.field.radiobuttons .item label {display: block; text-transform: none; font-size: 14px; line-height: 24px;  padding: 0 0 0 28px;
	background: transparent url(../img/gx_radiobutton_unchecked.svg) no-repeat left center;
	background-size: 20px 20px;
}
div.field.radiobuttons .item input:checked + label {
	background-image: url(../img/gx_radiobutton_checked.svg);
}
div.field.radiobuttons .item input {z-index: 2; position: absolute; top: 0; left: 0; width: 20px; height: 20px; opacity: 0;}
div.field.focus input,
div.field.focus select,
div.field.focus textarea {margin: 0; width: 100%; border: 3px solid #3E8E17;}
div.field.focus textarea:not(.autoexpand) {height: 104px;}
div.field.checkbox.focus label {
	background-image: url(../img/gx_checkbox_unchecked_focus.svg);
}
div.field.radiobuttons .item input.focus + label {
	background-image: url(../img/gx_radiobutton_unchecked_focus.svg);
}
div.field.checkbox.focus input:checked + label {
	background-image: url(../img/gx_checkbox_checked_focus.svg);
}
div.field.radiobuttons .item input.focus:checked + label {
	background-image: url(../img/gx_radiobutton_checked_focus.svg);
}
div.field.checkbox.focus input,
div.field.radiobuttons .item input.focus {
	width: 20px;
}
div.field.error input,
div.field.error select,
div.field.error textarea {margin: 0; width: 100%; border: 3px solid #C22414;}
div.field.error textarea:not(.autoexpand) {height: 104px;}
div.field.checkbox.error input,
div.field.radiobuttons.error .item input {
	width: 20px;
}
div.field.error.focus .help .error,
div.field.error.focus .help .error,
div.field.error.focus .help .error {opacity: 0; transform: translate(0, -10px); }
div.field.error.focus .help .hint,
div.field.error.focus .help .hint,
div.field.error.focus .help .hint {opacity: 1; transform: translate(0, 0);}
div.field .indicator {display: inline-block; vertical-align: top; width: 12px; height: 12px; margin-left: 4px;}
div.field.required .indicator {
	background: transparent url(../img/gx_required.svg) no-repeat center 1px;
	background-size: 9px 9px;
}
div.field.checkbox .indicator {margin-top: 7px;}
div.field.correct .indicator {
	background-image: url(../img/gx_correct.svg);
	background-position: center -2px;
	background-size: 14px 14px;
}
div.field .default,
div.field input.default {
	color: #999999;
}
div.field div.help {position: relative;}
div.field div.error,
div.field div.hint {opacity: 0; position: absolute; top: 0; left: 0; font-size: 12px; line-height: 13px; margin: 0 0 0 3px;
	transform: translate(0, -10px);
	transition: 0.3s all ease-out;
}
div.field div.error {color: #C22414; z-index: -10;}
div.field.error div.error {opacity: 1;
	transform: translate(0, 0);
}
div.field div.hint {color: #999999; z-index: -10;}
div.field.focus div.hint {opacity: 1; transform: translate(0, 0);}
div.field.error div.hint {opacity: 0; transform: translate(0, -10px);}
ul.actions,
#content ul.actions {list-style: none; text-align: right; margin: 0; font-size: 0;}
ul.actions li,
#content ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 0 10px 5px; vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
ul.actions input.button,
ul.actions a.button,
#content ul.actions a.button {font-size: 14px; display: block; padding: 7px 14px; line-height: 22px; background-color: #bbbbbb; color: #ffffff; border: none; cursor: pointer;
	font-weight: 400;
	text-transform: uppercase;
	font-family: "voresfont";
}
ul.actions input.button {width: auto; height: auto;}
ul.actions a.button,
#content ul.actions a.button {text-decoration: none;}
ul.actions input.button:hover,
ul.actions a.button:hover,
#content ul.actions a.button:hover {background-color: #999999;}
ul.actions input.button.primary,
ul.actions a.button.primary,
#content ul.actions a.button.primary {background-color: #3e8e17; color: #ffffff;}
ul.actions input.button.primary:hover,
ul.actions a.button.primary:hover,
#content ul.actions a.button.primary:hover {background-color: #357914;}
ul.actions input.button.warning,
ul.actions a.button.warning,
#content ul.actions a.button.warning {background-color: #C22414; color: #ffffff;}
ul.actions input.button.warning:hover,
ul.actions a.button.warning:hover,
#content ul.actions a.button.warning:hover {background-color: #9a2a1d;}
ul.actions input.button.disabled,
ul.actions a.button.disabled,
#content ul.actions a.button.disabled,
ul.actions input.button.disabled:hover
ul.actions a.button.disabled:hover,
#content ul.actions a.button.disabled:hover {cursor: default !important; color: #aaaaaa !important; background-color: #eeeeee !important;}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}


/*s-header.css*/
#header {
	position: relative;
	width: 936px;
	margin: 0 auto;
	padding: 18px 0 18px;
}
#header .logo {
	box-sizing: border-box;
	height: 48px;
	padding: 8px 0 0 54px;
	display: inline-block;
	background: transparent url(../img/logos/logo-stempel_sort_lille_gulerod.png) no-repeat top left;
	font-family: 'voresfont';
	font-size: 28px;
	line-height: 32px;
	text-transform: uppercase;
}
#header ul.servicenavigation {
	position: absolute;
	line-height: 6px;
	top: 6px;
	right: 0px;
}
#header ul.servicenavigation li {
	display: inline-block;
	padding-left: 16px;
	line-height: 14px;
}
#header ul.servicenavigation li.navigation {
	display: none;
}
#header ul.servicenavigation a {
	color: #666;
}
#header ul.servicenavigation a:hover {
	color: #3e8e17;
	text-decoration: underline;
}


/*s-navigation.css*/
#navigation {
position: relative;
	width: 936px;
	margin: 0 auto;
}
#navigation ul.navigation,
#navigation ul.navigation ul {
	font-size: 0;
}
#navigation ul.navigation ul {
	position: absolute;
	z-index: 100;
	opacity: 0;
	display: none;
	background-color: #fff;
	left: -5px;
	white-space: nowrap;	
}
#navigation ul.navigation li {
	display: inline-block;
	margin-right: 5px;
	position: relative;
}
#navigation ul.navigation ul li {
	display: block;
	margin: 6px 5px;
}
#navigation ul.navigation h5,
#navigation ul.navigation a {
	font-family: 'voresfont';
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	padding: 7px 14px;
	display: block;
	color: #ffffff;
	background-color: #000000;
}
#navigation ul.navigation ul li h5,
#navigation ul.navigation ul li a{
	background-color: #666;
}
#navigation ul.navigation h5:hover,
#navigation ul.navigation a:hover {
	background-color: #3e8e17;
}
#navigation ul.navigation h5:hover {
	cursor: pointer;
}


/*s-content.css*/
#content {
	margin: 0 auto;
	position: relative;
	width: 960px;
}
#content p,
#content ul,
#content ol,
#content pre,
#content table,
#content blockquote {
	padding-bottom: 24px;
}
#content h1 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 48px;
	box-shadow: 0px -5px black inset;
	padding-bottom: 2px;
	padding-top: 13px;
}
#content h2 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 30px;
	padding-bottom: 22px;
	padding-top: 46px;
}
#content h3 {
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
}
#content h4 {
	font-size: 14px;
	line-height: 24px;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#content p {
	line-height: 24px;
}
#content h1 + p,
#content h1 + h3,
#content h1 + .c-wrapper,
#content h1 + div.messages {
	padding-top: 46px;
}
#content h4 + ul,
#content h4 + ol {
	padding-top: 18px;
}
#content a {
	text-decoration: none;
	color: #3e8e17;
	font-weight: bold;
}
#content a:hover {
	color: black;
}
#content .system-warning {
	color: #C22414;
}
#content blockquote {
	font-style: italic;
	margin: 0px;
}
#content img.fit-width {
	width: 100%;
}
#content img {
	display: block;
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 12px;
}
#content ol {
	list-style-type: decimal;
	margin-left: 16px;
}
#content ul {
	list-style: disc;
	margin-left: 15px;
}
#content li {
	line-height: 24px;
	padding-left: 8px;
}
#content ul.richtext {
	list-style: none;
	margin-left: 0;
}
#content ul.richtext > li {
	padding-left: 0;
}
#content li + li {
	padding-top: 12px;
}
#content dl {
	padding-bottom: 12px;
}
#content dt {
	font-size: 14px;
	line-height: 24px;
	font-family: 'voresfont', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#content dl {
	padding-bottom: 12px;
}
#content dd {
	padding-bottom: 12px;
}
#content code {
	display: block;
	padding: 24px;
	margin-bottom: 24px;
	white-space: pre-wrap;
	font-family: monospace;
	background-color: #DDDDDD;
}
#content span.path {
	font-family: monospace;
	background-color: #DDDDDD;
	padding: 0 6px;
}
#content h1 {
	margin-left: 12px;
	margin-right: 12px;
}
#content h2,
#content h3,
#content h4,
#content p,
#content ol,
#content ul,
#content dl {
	padding-left: 12px;
	padding-right: 12px;
}
#content div.c-wrapper {
	display: block;
	font-size: 0;
	width: 100%;
	min-height: 100px;
}
#content div.c-one-quarter,
#content div.c-one-third,
#content div.c-one-half,
#content div.c-two-thirds,
#content div.c-three-quarters {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	min-height: 200px;
}
#content div.c-three-quarters {
	width: 75%;
}
#content div.c-two-thirds {
	width: 66.6666%;
}
#content div.c-one-half {
	width: 50%;
}
#content div.c-one-third {
	width: 33.3333%;
}
#content div.c-one-quarter {
	width: 25%;
}
#content div.c-box,
#content div.c-primary-box {
	box-sizing: border-box;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 24px;
}
#content .c-box > h2,
#content .c-primary-box > h2 {
	padding-top: 22px;
}
#content div.c-box > p:first-child,
#content div.c-primary-box > p:first-child {
	padding-top: 12px;
}
#content div.c-box {
	background: #f2f2f2;
}
#content div.c-primary-box {
	background: #3e8e17;
}
#content div.c-primary-box h1,
#content div.c-primary-box h2,
#content div.c-primary-box h3,
#content div.c-primary-box h4,
#content div.c-primary-box p,
#content div.c-primary-box ol,
#content div.c-primary-box ul,
#content div.c-primary-box dl,
#content div.c-primary-box li {
	color: white;
}
#content div.c-box.c-one-quarter,
#content div.c-primary-box.c-one-quarter {
	width: calc(25% - 24px);
}
#content div.c-box.c-one-third,
#content div.c-primary-box.c-one-third {
	width: calc(33.3333% - 24px);
}
#content div.c-box.c-one-half,
#content div.c-primary-box.c-one-half {
	width: calc(50% - 24px);
}
#content div.c-box.c-two-thirds,
#content div.c-primary-box.c-two-thirds {
	width: calc(66.6666% - 24px);
}
#content div.c-box.c-four-quarters,
#content div.c-primary-box.c-four-quarters {
	width: calc(75% - 24px);
}
#content div.c-two-thirds > div.c-one-third {
	width: 50%;
}
#content div.c-one-half > div.c-one-quarter {
	width: 50%;
}
#content div.c-three-quarters > div.c-one-quarter {
	width: 33.3333%;
}
#content div.c-three-quarters > div.c-one-half {
	width: 66.6666%;
}
#content div.c-two-thirds > div.c-box.c-one-third,
#content div.c-two-thirds > div.c-primary-box.c-one-third {
	width: calc(50% - 24px);
}
#content div.c-one-half > div.c-box.c-one-quarter,
#content div.c-one-half > div.c-primary-box.c-one-quarter {
	width: calc(50% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-quarter,
#content div.c-three-quarters > div.c-primary-box.c-one-quarter {
	width: calc(33.3333% - 24px);
}
#content div.c-three-quarters > div.c-box.c-one-half,
#content div.c-three-quarters > div.c-primary-box.c-one-half {
	width: calc(66.6666% - 24px);
}
#content .banner {position: relative;}
#content .banner > img {padding-top: 5px;}
#content .banner > div.logo {position: absolute; top: 5px; left: 25px; width: 318px; height: 206px;
	background: transparent url(../img/banners/desktop/logo_layover.png) no-repeat top left;
	background-size: 100% auto;
}

/*s-footer.css*/
#footer {
	height: 48px;
	background: #484848;
}
#footer ul.servicenavigation {
	margin: 0 auto;
	position: relative;
	width: 936px;
	text-align: right;
}
#footer ul.servicenavigation li {
	display: inline-block;
	padding: 17px 0 10px 15px;
	color: #ffffff;
}
#footer ul.servicenavigation li.copyright {
	float: left;
	padding-left: 0;
}

