<!DOCTYPE html>
<html>
<head>
	<title>Ang. din konto hos KBHFF // Action required on your KBHFF account</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<style type="text/css">
		table.janitor-email h1,
		table.janitor-email h2 {font-family: 'voresfont', Arial, sans-serif !important;}
		table.janitor-email h3,
		table.janitor-email p {font-family: Arial, sans-serif !important;}
		table.janitor-email td {padding: 0;}
		@media all and (max-width: 620px) {
			table.janitor-email {width: 100% !important;}
		}
		@media all {
			a {
				color: inherit !important;
				font-size: inherit !important;
				font-family: inherit !important;
				font-weight: inherit !important;
				line-height: inherit !important;
			}
			em, strong {
				font-size: inherit !important;
				font-family: inherit !important;
				line-height: inherit !important;
			}
		}
	</style>
	<!--[if lte mso 15]>
	<style type="text/css">
		table.janitor-email h3,
		table.janitor-email p {font-family: Verdana, sans-serif !important;}
		table.janitor-email h1,
		table.janitor-email h2 {font-family: 'Times New Roman', Times, serif !important;}
	</style>
	<![endif]-->
</head>

<body style="color: #000000; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space; margin: 0; padding: 0;">

<div class="preview ignore_text" style="display: none; font-size: 1px; color: #ffffff; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0.001; overflow: hidden">
	Inaktivt medlemskab slettes snart / Inactive membership will be deleted soon
</div>

<div style="background-color: #ffffff; text-align: center; padding: 0; margin: 0 10px;">
	<table border="0" cellpadding="0" cellspacing="0" class="janitor-email" width="600" style="width: 600px; margin: 0 auto; padding: 0; border: 0;">
	<tr>
		<td height="20" style="height: 20px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" style="text-align: left;">
			<h2 class="ignore_text" style="margin: 0 10px 0 0; padding: 0; color: #000000; font-family: 'voresfont', Arial, sans-serif; font-size: 38px; line-height: 38px; font-weight: 400;">
				<a href="{SITE_URL}" style="font-family: Arial, sans-serif; font-size: 38px; line-height: 38px; font-weight: 400; color: #000000; text-decoration: none; white-space: nowrap; text-transform: uppercase;"><img src="{SITE_URL}/img/logos/logo-stempel_sort_lille.png" alt="logo" height="44" align="top" />&nbsp;KBHFF</a>
			</h2>
		</td>
	</tr>
	<tr>
		<td height="50" style="height: 50px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" style="text-align: left;">
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				((English below))
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				Kære {NICKNAME},
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				Vi har bemærket, at dit medlemskab hos Københavns Fødevarefællesskab - kbhff.dk - ikke er aktivt, og derfor sletter vi i henhold til vores <a href="{SITE_URL}/persondata">privatlivspolitik</a> din konto d. {DELETE_DATE}.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				<strong>Hvis du ikke længere ønsker at være medlem, behøver du ikke gøre noget.</strong> Vi vil anonymisere dine data i overensstemmelse med vores privatlivspolitik.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				<strong>Hvis du derimod ønsker at forblive medlem af vores fællesskab</strong>, skal du <a href="{SITE_URL}/login">logge ind</a> og genaktivere og betale for dit medlemskab senest {PAY_DATE}.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				Da du allerede er medlem af KBHFF, skal du betale følgende:<br />
				- det årlige kontingent, som dækker dig indtil næste kontingentopkrævning i maj måned. 
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 30px 0 30px;">
				Hvis du har spørgsmål, så tjek venligst vores <a href="{SITE_URL}/faq">FAQ</a>. Du kan også skrive til <a href="mailto:it@kbhff.dk">it@kbhff.dk</a>.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 30px 0 15px 0;">
				Med grønne hilsener,<br />
				KBHFF
			</p>
		</td>
	</tr>
	<tr>
		<td height="20" style="height: 20px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td height="1" style="height: 10px; font-size: 1px; line-height: 1px;"><hr></td>
	</tr>
	<tr>
		<td height="20" style="height: 20px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" style="text-align: left;">
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				Dear {NICKNAME},
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				We have noticed that your membership with Københavns Fødevarefællesskab - kbhff.dk - is dormant, and in accordance with our <a href="{SITE_URL}/persondata">privacy policy</a>, we will delete your account on the {DELETE_DATE}.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				<strong>If you do not wish to remain a member, you do not need to do anything.</strong> We will anonymise your data in accordance with our privacy policy.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				If you wish to remain a member of our community, you need to <a href="{SITE_URL}/login">log in</a>, reactivate (“genaktiver”) and pay for your membership latest by {PAY_DATE}.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				You will need to pay:<br />
				- the annual fee (“kontingent”), which covers you until the next annual fee renewal in May.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 20px 0 20px;">
				If you have any questions, please check our <a href="{SITE_URL}/faq">FAQ</a>. You can also write to <a href="mailto:it@kbhff.dk">it@kbhff.dk</a>.
			</p>
			<p style="font-family: Arial, sans-serif; font-size: 15px; color: #000000; padding: 0; margin: 30px 0 15px 0;">
				With green regards,<br />
				KBHFF 
			</p>
		</td>
	</tr>
	</table>
</div>

</body>
</html>
